* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
  }

.container {
    max-width: 1440px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;
}

.header {
    background-color: rgb(224, 152, 63);
}

.header-container {
    display: flex; 
    justify-content: space-between;   
}

.header-container-left {

}

.avatar {
    padding: 10%;
    max-width: 100px;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    color: #600010;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 12px;
    bottom: -5px;
    width: calc(100% - 24px);
    height: 2px;
    background-color: #ff0000;
    opacity: 0;
    transition: .5s;

}